# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bak
*.ini
vsim.wlf
*.qdb
work/_lib1_1.qpg
*.qtl
work/_vmake
work/_info
4bit_adder_ha
work/_lib1_2.qpg
*.qpg
*.vstf
wlft0n3k37
wlft2hf5zv
wlft1t5snw
wlft2fe1db
wlft303aa8
wlft1g3mif
wlft17qtci
wlft*
